
/*
inline-flex cursor-pointer select-none items-center justify-center overflow-hidden relative
        px-3 py-2 gap-2 rounded-md disabled:pointer-events-none disabled:opacity-60 transition-colors duration-200
        bg-primary enabled:hover:bg-primary-emphasis enabled:active:bg-primary-emphasis-alt text-primary-contrast
        border border-primary enabled:hover:border-primary-emphasis enabled:active:border-primary-emphasis-alt
        focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-primary
        p-vertical:flex-col p-fluid:w-full p-fluid:p-icon-only:w-10
        p-icon-only:w-10 p-icon-only:px-0 p-icon-only:gap-0
        p-icon-only:p-rounded:rounded-full p-icon-only:p-rounded:h-10
        p-small:text-sm p-small:px-[0.625rem] p-small:py-[0.375rem]
        p-large:text-[1.125rem] p-large:px-[0.875rem] p-large:py-[0.625rem]
        p-raised:shadow-sm p-rounded:rounded-[2rem]
        p-outlined:bg-transparent enabled:hover:p-outlined:bg-primary-50 enabled:active:p-outlined:bg-primary-100
        p-outlined:border-primary-200 enabled:hover:p-outlined:border-primary-200 enabled:active:p-outlined:border-primary-200
        p-outlined:text-primary enabled:hover:p-outlined:text-primary enabled:active:p-outlined:text-primary
        dark:p-outlined:bg-transparent dark:enabled:hover:p-outlined:bg-primary/5 dark:enabled:active:p-outlined:bg-primary/15
        dark:p-outlined:border-primary-700 dark:enabled:hover:p-outlined:border-primary-700 dark:enabled:active:p-outlined:border-primary-700
        dark:p-outlined:text-primary dark:enabled:hover:p-outlined:text-primary dark:enabled:active:p-outlined:text-primary
        p-text:bg-transparent enabled:hover:p-text:bg-primary-50 enabled:active:p-text:bg-primary-100
        p-text:border-transparent enabled:hover:p-text:border-transparent enabled:active:p-text:border-transparent
        p-text:text-primary enabled:hover:p-text:text-primary enabled:active:p-text:text-primary
        dark:p-text:bg-transparent dark:enabled:hover:p-text:bg-primary/5 dark:enabled:active:p-text:bg-primary/15
        dark:p-text:border-transparent dark:enabled:hover:p-text:border-transparent dark:enabled:active:p-text:border-transparent
        dark:p-text:text-primary dark:enabled:hover:p-text:text-primary dark:enabled:active:p-text:text-primary
*/



.btn {
  @apply inline-flex cursor-pointer select-none items-center justify-center overflow-hidden relative
        px-3 py-2 gap-2 rounded-md disabled:pointer-events-none disabled:opacity-60 transition-colors duration-200
        bg-primary enabled:hover:bg-primary-hover enabled:active:bg-primary-emphasis-alt text-white
        border border-primary enabled:hover:border-primary-emphasis enabled:active:border-primary-emphasis-alt
        focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-primary;

  @variant b-outlined{
    @variant b-info{
        @apply bg-green-500;
    }
  }
}
/*

.btn-xs {
  @apply px-2 py-1 text-xs;
}
.btn-sm {
  @apply px-2 py-1 text-sm;
}

.btn-md {
  @apply px-4 py-2 text-sm;
}

.btn-lg {
  @apply px-6 py-3 text-base;
}

.btn-xl {
  @apply px-8 py-4 text-base;
}

.btn-2xl {
  @apply px-12 py-6 text-lg;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-hover disabled:bg-primary/50 text-white focus:ring-4 focus:ring-blue-300;
}

.btn-secondary {
  @apply bg-secondary hover:bg-secondary-hover disabled:bg-secondary/50 text-white;
}

.btn-success {
  @apply bg-success hover:bg-success-hover disabled:bg-success/50 text-white;
}

.btn-danger {
  @apply bg-danger hover:bg-danger-hover disabled:bg-danger/50 text-white;
}

.btn-warning {
  @apply bg-warning hover:bg-warning-hover disabled:bg-warning/50 text-white;
}

.btn-info {
  @apply bg-info hover:bg-info-hover disabled:bg-info/50 text-white;
}

.btn-light {
  @apply bg-light text-dark hover:bg-light-hover disabled:bg-light/50;
}

.btn-dark {
  @apply bg-dark text-light hover:bg-dark-hover disabled:bg-dark/50;
}

.btn-link {
  @apply text-blue-500 hover:text-blue-700 disabled:text-black;
}

.btn-outline-primary {
  @apply border-primary text-primary hover:bg-primary disabled:text-primary/50 border hover:text-white disabled:bg-transparent/50;
}

.btn-outline-secondary {
  @apply border-secondary text-secondary hover:bg-secondary disabled:text-secondary/50 border hover:text-white disabled:bg-transparent/50;
}

.btn-outline-success {
  @apply border-success text-success hover:bg-success disabled:text-success/50 border hover:text-white disabled:bg-transparent/50;
}

.btn-outline-danger {
  @apply border-danger text-danger hover:bg-danger disabled:text-danger/50 border hover:text-white disabled:bg-transparent/50;
}

.btn-outline-warning {
  @apply border-warning text-warning hover:bg-warning disabled:text-warning/50 border hover:text-white disabled:bg-transparent/50;
}

.btn-outline-info {
  @apply border-info text-info hover:bg-info disabled:text-info/50 border hover:text-white disabled:bg-transparent/50;
}

.btn-outline-light {
  @apply border-light text-light hover:bg-light hover:text-dark disabled:text-light/50 border disabled:bg-transparent/50;
}

.btn-outline-dark {
  @apply border-dark text-dark hover:bg-dark disabled:text-dark/50 border hover:text-white disabled:bg-transparent/50;
}

.btn-gradient-primary {
  @apply from-primary via-primary-hover hover:from-primary-hover hover:via-primary-hover disabled:bg-primary/50 bg-gradient-to-r text-white hover:bg-gradient-to-br;
}



.btn:has(.icon-left) {
  @apply flex-row;
}

.btn:has(.icon-right) {
  @apply flex-row-reverse;
}

.btn:has(.icon-top) {
  @apply flex-col;
}

.btn:has(.icon-bottom) {
  @apply flex-col-reverse;
}

.icon-left {
  @apply mr-2;
}
.icon-right {
  @apply ml-2;
}
.icon-top {
  @apply mb-2;
}
.icon-bottom {
  @apply mt-2;
}
*/
