@import "tailwindcss";

@layer components {
  .btn {
    @apply font-bold rounded;
  }

  .btn-sm {
    @apply py-1 px-2;
  }

  .btn-md {
    @apply py-2 px-4;
  }

  .btn-lg {
    @apply py-3 px-6;
  }

  .btn-xl {
    @apply py-4 px-8;
  }

  .btn-2xl {
    @apply py-6 px-12;
  }

  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white;
  }

  .btn-secondary {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-800;
  }

  .btn-success {
    @apply bg-green-500 hover:bg-green-700 text-white;
  }

  .btn-danger {
    @apply bg-red-500 hover:bg-red-700 text-white;
  }

  .btn-warning {
    @apply bg-yellow-500 hover:bg-yellow-700 text-white;
  }

  .btn-info {
    @apply bg-blue-500 hover:bg-blue-700 text-white;
  }

  .btn-light {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-800;
  }

  .btn-dark {
    @apply bg-gray-800 hover:bg-gray-900 text-white;
  }

  .btn-link {
    @apply text-blue-500 hover:text-blue-700;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;

  --color-dark-01: #22244d;
  --color-dark-02: #1b1e3d; 
  --color-dark-03: #13152b;
  --color-dark-b: #2a2e5e;
  

  --color-light-01: #f0f4fa; 
  --color-light-02: #f7fafb;
  --color-light-03: #e6eff4;
  --color-light-04: #9da4a7;
  --color-light-b: #d5e3ec;
}


/* Largeur de la barre */
::-webkit-scrollbar {
  width: 8px;
}

/* Couleur de fond de la barre */
::-webkit-scrollbar-track {
  background: var(--color-light-01);
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-track {
  background: var(--color-dark-01);
}

/* Couleur du curseur (la partie défilante) */
::-webkit-scrollbar-thumb {
  background: var(--color-light-04);
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--color-dark-03);
  border-radius: 5px;
}

/* Changement de couleur au survol */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-light-04);
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--color-dark-03);
  border-radius: 5px;
}

